- name: MacOS Setup
  hosts: localhost
  vars:
    ansible_connection: local
    ansible_python_interpreter: "{{ ansible_playbook_python }}"

  tasks:
    - name: Install taps via homebrew
      community.general.homebrew_tap:
        name: "{{ item }}"
        state: present
      with_items:
        - hashicorp/tap
        - homebrew/cask-fonts

    - name: Install fonts via homebrew
      community.general.homebrew_cask:
        name: "{{ item }}"
        state: present
      with_items:
        - font-jetbrains-mono-nerd-font
        - font-meslo-lg-nerd-font
      ignore_errors: true

    - name: Install GUI tools via homebrew
      community.general.homebrew_cask:
        name: "{{ item }}"
        state: present
      with_items:
        - cyberduck
        - dbeaver-community
        - discord
        - docker
        - drawio
        - hyper
        - iterm2
        - jetbrains-toolbox
        - nordpass
        - nordvpn
        - obsidian
        - postman
        - pycharm
        - qbittorrent
        - skype
        - slack
        - spotify
        - telegram
        - visual-studio-code
        - warp
      ignore_errors: true

    - name: Install CLI tools via homebrew
      community.general.homebrew:
        name: "{{ item }}"
        state: present
      with_items:
        - act
        - autojump
        - bat
        - bazel
        - btop
        - commitizen
        - curl
        - charmbracelet/tap/vhs
        - docker
        - dotdrop
        - erlang
        - ffmpeg
        - gcc
        - gh
        - go
        - graphviz
        - helix
        - helm
        - java
        - jq
        - julia
        - k9s
        - kubernetes-cli
        - lazydocker
        - minikube
        - openjdk@11
        - pueue
        - pyenv
        - pyenv-virtualenv
        - rbenv
        - ruby-build
        - spaceship
        - starship
        - terraform
        - thefuck
        - ttyd
        - tmux
        - vim
        - wget
        - xplr

    - name: Install Rust
      ansible.builtin.shell:
        cmd: curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y

    - name: Install Java
      ansible.builtin.command: sudo ln -sfn /opt/homebrew/opt/openjdk@11/libexec/openjdk.jdk /Library/Java/JavaVirtualMachines/openjdk-11.jdk

    - name: Install oh-my-zsh
      ansible.builtin.shell:
        cmd: sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
      ignore_errors: true

    - name: Install powerlevel10k
      ansible.builtin.shell:
        cmd: git clone --depth=1 https://github.com/romkatv/powerlevel10k.git ${ZSH_CUSTOM:-$HOME/.oh-my-zsh/custom}/themes/powerlevel10k
      ignore_errors: true

    - name: Install hishtory
      ansible.builtin.shell:
        cmd: curl https://hishtory.dev/install.py | python3 -
